body {
    background-color: rgb(221, 221, 246);
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    background-color: rgb(44, 44, 48);
    width: 80vh;
    height: 80vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color: white;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container > h1 {
    text-align: center;
}
.box-2 {
    display: flex;
    flex-direction: column;
}
input[type=range] {
    width: 25%;
}
