.container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 200px 40px;
    grid-template-areas: 
    "h h h h h h h h h h h h h"
    "m m m m c c c c c c c c c"
    "f f f f f f f f f f f f f"
    ;
    grid-gap: 3px;
}
.header {
    grid-area: h;
}
.menu {
    grid-area: m;
}
.content {
    grid-area: c;
}
.footer {
    grid-area: f;
}